*, :after, :before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
div{
    display: block;
}
header{
    display: block;
}
.main-header{
    padding: 30px 4% 10px;
    width: 100%;
    position: abusolute;
    top: 0;
    display: flex;
    align-items: center;
}
.main-header{
    border-bottom: solid 5px #000;
}
.container{
    display: flex;
    align-items: center;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
h1{
    display: block;
}
nav{
    display: block;
}
.main-header-navigation{
    margin: 0 0 0 auto;
}
ul{
    display: block;
}
.main-menu{
    display: flex;
    margin: 0;
    list-style: none;
}
li{
    display: block;
}
.main-menu-list{
    margin: 0 0 0 15px;
    padding: 1rem 0.5rem 1rem 0.5rem;
}
.main-menu-list{
    border-left: solid 2px #000;
    border-right: solid 2px #000;
}
a{
    display: block;
}
.main-menu-internal-link{
    text-decoration: underline;
    color: #000;
}
p{
    display: block;
    margin: 0.6rem 0 0.6rem 0;
}
.main-content{
    padding: 2% 4% 2% 4%;
}
.content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
h2{
    display: block;
}
h2{
    border-bottom: solid 4px #000;
    border-image: linear-gradient(to right, #000 0%, #fff 100%);
    border-image-slice: 1;
}
.form-item{
    display: block;
    margin: 0 0 1.4rem 0;
}
.form-label{
    display: block;
    margin-bottom: 0.6rem;
}
.form-label-required{
    display: inline-block;
    padding: 0.2rem 0.1rem 0.2rem 0.1rem;
    margin-right: 0.4rem;
}
.form-label-required{
    background-color: orangered;
    border: solid 1px #000;
    border-radius: 20%;
}
textarea {
    resize: none;
}
input, textarea{
    font-size: 16px;
}
.email-input{
    width: 20rem;
}
th{
    text-align: center;
    width: 10rem;
}
tr, td{
    border: #000 solid 1px;
}
tr, td{
    padding-left: 1rem;
}
table{
    border-collapse: collapse;
}
.process{
    width: 100%;
}